/*
 * menu color: #f7a712;
 * reservation bar color: #f7a712;
 * RESERVAR button: #f28a07;
 */
.cp {
	cursor: pointer;
}
.coralt-navbar {
	border-color: #f7a712;
	width: 50%;
	margin-left: 50%;
	background-color: #f7a712;
	min-height: 40px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-bottom:0 !important;
    height: 40px;
}

.navbar {
	min-height:40px !important;
}

.coralt-navbar .coralt-nav>li>a {
	padding: 10px 45px;
	color: white;
}
.coralt-nav li:hover {
	border-bottom: 5px solid #f28a07;
	height: 40px;
}

.carousel-indicators {
  	bottom: 295px;
}
.carousel-indicators li {
	border: 1px solid #f7a712;
	width: 15px;
	height: 15px;
}

.carousel-indicators .active {
	background-color: #f7a712;
	width: 17px;
	height: 17px;
}
/*
@media screen and (min-width: 768px) {
	.carousel-indicators {
	  	bottom: 200px;
	}
}
*/

/*
 * reservation bar styles
 */

 .carousel-indicators.reservation-bar-container {
 	width: 88%;
 	height: auto;
 	background-color: #f7a712;
 	left: 36%;
  	bottom: 175px;
  	color: white;
  	padding-top: 20px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 1px ridge #bdb3bd;
	padding-left: 5%;
}

.reservation-bar-container .reservation-tile {
	min-width: 150px;
	height: auto;
	margin-bottom: 30px;
}

.reservation-tile > p {
	text-align: left;
}

.textbox {
	border: 1px solid #cccccc;
	outline: 0;
	height: 30px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	color: black;
	padding: 0;
	min-width: 79px;
	text-align: center;
  	margin-top: 5px;
}

.btn-reservar {
	background-color: #f28a07;
	border: 0;
	color: white;
	margin-top: 15px;
}

.btn-reservar:hover,
.btn-reservar:focus {
	background: #f28a07;
	cursor: pointer;
	text-shadow: 0 -1px 1px #f7a712;
	font-size: bold;
	color: white;
	font-weight: bold;
}

.reservation-icon {
      background:url("../images/reservation_sprite.png");
      display: inline-block;
      height: 35px;
      width: 40px;
}
.reservation-icon.calendar {
	background-position: 0 0;
}
.reservation-icon.person {
	background-position: 0 88px;
}

/*
 * icons class

.font-icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric
	/* remove if not needed
	margin-left: .2em;

	/* You can be more comfortable with increased icons size
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    font-size: 27px;
	line-height: 24px;
}

.date-icon {
	cursor: pointer;
}
*/
/*
Media Queries
*/
    /* rules for mobile vertical (< 480) */

@media only screen and (max-width : 480px){
/* rules for mobile horizontal (480 > 768)  */
	.row.carousel-indicators.reservation-bar-container {
			width: 50%;
			padding: 20px 0;
			bottom: 40px;
			background-color: rgba(247, 167, 18, 0.7);
	}
	.carousel-indicators {
	  	bottom: 0px;
	}

}
@media only screen and (max-width : 768px) {
/* rules for tablet (768 > 992) */
	.carousel-indicators.reservation-bar-container {
			width: 70%;
		}
	.reservation-bar-container .reservation-tile {
		margin-right: 50px;
	}
}
 @media only screen and (max-width : 992px) {
/* rules for desktop (992 > 1200) */
}
@media only screen and (max-width : 1200px) {
/* rules for large (> 1200) */
}
