/*
 * menu color: #f7a712;
 * reservation bar color: #f7a712;
 * RESERVAR button: #f28a07;
 */
.fl {
	float: left;
}

.fr {
	float: right;
}
.cp {
	cursor: pointer;
}

.rounded {
	-webkit-border-radius: 7px 7px 7px 7px;
}

.coralt-navbar {
	border-color: #f7a712;
	width: 50%;
	margin-left: 50%;
	background-color: #f7a712;
	min-height: 40px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-bottom:0 !important;
    height: 40px;
}

.navbar {
	min-height:40px !important;
}

.coralt-navbar .coralt-nav>li>a {
	padding: 10px 45px;
	color: white;
}
.coralt-nav li:hover {
	border-bottom: 5px solid #f28a07;
	height: 40px;
}

.carousel-indicators {
  	bottom: 265px;
}
.carousel-indicators li {
	border: 1px solid #f7a712;
	width: 15px;
	height: 15px;
}

.carousel-indicators .active {
	background-color: #f7a712;
	width: 17px;
	height: 17px;
}
/*
@media screen and (min-width: 768px) {
	.carousel-indicators {
	  	bottom: 200px;
	}
}
*/

/*
 * reservation bar styles
 */

 .carousel-indicators.reservation-bar-container {
 	width: 88%;
 	height: auto;
 	background-color: #f7a712;
 	left: 36%;
  	bottom: 150px;
  	color: white;
  	padding-top: 20px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 1px ridge #bdb3bd;
	padding-left: 5%;
}

.reservation-bar-container .reservation-tile {
	min-width: 150px;
	height: auto;
	margin-bottom: 30px;
}

.reservation-tile > p {
	text-align: left;
}

.textbox {
	border: 1px solid #cccccc;
	outline: 0;
	height: 27px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	color: black;
	padding: 0;
	min-width: 79px;
	text-align: center;
  	margin: 5px 10px 0 0;
}

.btn-reservar {
	background-color: #f28a07;
	border: 0;
	color: white;
	margin-top: 15px;
}

.btn-reservar:hover,
.btn-reservar:focus {
	background: #f28a07;
	cursor: pointer;
	text-shadow: 0 -1px 1px #f7a712;
	font-size: bold;
	color: white;
	font-weight: bold;
}

.reservation-icon {
      background:url("../images/reservation_sprite.png");
      display: inline-block;
      height: 35px;
      width: 40px;
      zoom: 90%;
}
.reservation-icon.calendar {
	background-position: 0 0;
}
.reservation-icon.person {
	background-position: 0 70px;
}

/* Promo Bar */
.reservation-icon.close {
	background-position: 0 23px;
	height: 23px;
	margin-right: -30px;
}

.promo-container {
	background-color: black;
	height: 92px;
	left: 36%;
	width: 88%;
	bottom: 20px;
	min-height: 110px;
}
/*
Media Queries
*/
    /* rules for mobile vertical (< 480) */

@media only screen and (max-width : 480px){
/* rules for mobile horizontal (480 > 768)  */
	.row.carousel-indicators.reservation-bar-container {
			width: 50%;
			padding: 20px 0;
			bottom: 40px;
			background-color: rgba(247, 167, 18, 0.7);
	}
	.carousel-indicators {
	  	bottom: 0px;
	}
	.promo-container {
		display: none;
	}
	.reservation-icon,
	.reservation-tile {
		padding: 0 0 0 15px !important;
	}
}
@media only screen and (max-width : 768px) {
/* rules for tablet (768 > 992) */
	.carousel-indicators.reservation-bar-container {
			width: 70%;
		}
	.reservation-bar-container .reservation-tile {
		margin-right: 50px;
	}
}
 @media only screen and (max-width : 992px) {
/* rules for desktop (992 > 1200) */
}
@media only screen and (max-width : 1200px) {
/* rules for large (> 1200) */
}


/* CONTACTO */
body.contacto,
body.tipologias {
	background-image: url('../background-img-contacto/1-blurry.jpg');
	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
}

body.contacto .contact-form-container {
	  background-color: orange;
	  height: 500px;
	  width: 45%;
	  margin: 22% 0 0 8px;
}

body.contacto .googlemap {
	margin: 1% 10px 0 0;
	border: 2px solid #CCC;
}
body.contacto .place-information {
	height: 180px;
	background-color: orange;
	float: right;
	width: 45%;
	margin: 22% 10px 15px 0;
}

body.contacto .contact-form-container .contact-form {
	margin: 25px 0 0 0;
	text-align: center;
	color: white;
}

body.contacto .contact-form-container .contact-form input {
	margin-bottom: 2%;
}
